/* html CONTACTO- Formulario */

.grillaContacto {
  display: grid;
  background-color: lavenderblush;
  grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
  grid-template-areas:
    "nav header header header"
    "nav form form form"
    "nav form form form"
    "footer footer footer footer";
}

.form {
  grid-area: form;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
  margin-left: 50vh;

  input {
    @extend %input;
    @include styless(#111);
    &[type="submit"]:hover {
      background-color: lavender;
      color: blue;
    }
    &:focus {
      width: 400px;
      transition: 0.5s;
      background-color: beige;
    }
  }

  p {
    font-size: 1rem;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}
textarea {
  width: 300px;
  background-color: linen;
  margin-bottom: 2vh;
  margin: 0 auto;
  &:focus {
    width: 400px;
    transition: 0.5s;
    background-color: beige;
  }
}

@media (max-width: 460px) {
  .grillaContacto{
    grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "form form form form"
    "form form form form"
    "footer footer footer footer";
  }
  .form{
    margin-left: 5vh;
  }
}
